@model List<Warhouse>






@section Style {
    <link href="~/assets/plugins/datatables/datatables.bundle.css" rel="stylesheet" />

}


<partial name="_DataTable" />



<div class="py-5 pb-6">

    <div class="table-responsive">
        <table class="table table-row-bordered gy-7 js-datatable" data-decument-title="Product">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800">
                    <th>Name</th>
                    <th>Description</th>
                    <th>IsDeleted</th>
                    <th>Price</th>
                    <th>Quantity </th>
                    <th>CreatedOn</th>
                    <th>LastUpdatedOn</th>
                    <th class="js-no-export">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SelectMany(x => x.Products))
                {
                    <partial name="_ProductRow" model="@item" />
                }

            </tbody>
        </table>
    </div>
</div>
@section Plugins {
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}