@model CreateOrUpdateWarehouseViewModel




<form asp-action="@(Model?.Id > 0 ? "Edit" : "Create")"
	  data-ajax-method="post" data-ajax="true"
	  data-ajax-success="OnModalSuccess"
	  data-ajax-failure="ShowErrorMessage">
	@if (Model?.Id > 0)
	{
		<input type="hidden" asp-for="Id" />
	}

	<div class="mb-5">
		<div class="form-floating mb-2">
			<input type="text" class="form-control" placeholder="Name" asp-for="Name" />
			<label asp-for="Name"></label>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
	</div>
	<div class="mb-5">
		<div class="form-floating mb-2">
			<input type="text" class="form-control" placeholder="City" asp-for="City" />
			<label asp-for="City"></label>
			<span asp-validation-for="City" class="text-danger"></span>
		</div>
	</div>
	<div class="mb-5">
		<div class="form-floating mb-2">
			<input type="number" class="form-control" placeholder="Commition" asp-for="Commition" />
			<label asp-for="Commition"></label>
			<span asp-validation-for="Commition" class="text-danger"></span>
		</div>
	</div>

	<partial name="_ModalFooter" />
</form>



